<!DOCTYPE html>
<html>
<%- include('layouts/head') %>

<body>
    <%- include('layouts/navbar', {navbar}) %>

    <main>
        <div class="jumbotron jumbotron-fluid parallax">
            <div class="d-flex justify-content-start">
                <img src="https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.<%- guild.features.some(f => f === 'ANIMATED_ICON') ? 'gif' : 'png' %>?size=128"
                    alt="" style="border:#ff8b00 solid 5px; background: #2f3136; border-radius: 50%;">
                <h1 class="display-4"><%- guild.name %></h1>
            </div>
            <hr>
            <p class="lead">Powered by Tropic</p>
        </div>
        <div class="jumbotron jumbotron-fluid parallax">
            <% console.log(`${defaultConfig[0]}`) %>
            <div class="jumbotron" style="background-color: rgba(255, 139, 0, 0.4);">
                <% Object.keys(config).filter((c, i) => defaultConfig[i].configurable).forEach((conf, index) => { %>
                <% console.log(conf) %>
                <div class="d-flex justify-content-around">
                    <label><%- conf[0].toUpperCase() + conf.slice(1).replace(/([A-Z][^A-Z])/g, " $1") %> <span
                            class="badge badge-primary badge-pill" style="border: white solid 1px;">
                            <%- defaultConfig[index].array ? `Array<${defaultConfig[index].name[0] + defaultConfig[index][1].name.slice(1)}>` : defaultConfig[index][1].name[0] + defaultConfig[index][1].name.slice(1) %></span></label>
                    <% if (defaultConfig[index][1].name === "string") { %>

                    <% } %>
                </div>
                <% if (!((index + 1) === Object.keys(config).length)) { %>
                <hr>
                <% } %>
                <% }); %>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') %>
</body>

</html>