<!DOCTYPE html>
<html lang="en">

<html>
<%- include('layouts/head') %>

<body>
    <%- include('layouts/navbar', {navbar}) %>
    <div class="container">
        <div class="jumbotron parallax">
            <h1 class="display-4">All the guilds</h1>
            <p class="lead">Every single guild you are in with me in it</p>
            <ul class="list-group">
                <% user.guilds.sort((a, b) => a.name.toLowerCase().charCodeAt(0) < b.name.toLowerCase().charCodeAt(0) ? -1 : (a.name.toLowerCase().charCodeAt(0) > b.name.toLowerCase().charCodeAt(0) ? 1 : 0)).forEach(guild => { %>
                <li class="list-group-item jumbotron parallax"
                    style="text-decoration: none; background-image: url('https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.png?size=2048');">
                    <a href="/dashboard/<%- guild.id %>" class="list-group-item"
                        style="background-color: rgba(255, 139, 0, 0.4);">
                        <img src="https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.<%- guild.features.some(f => f === "ANIMATED_ICON") ? "gif" : "png" %>?size=128"
                            alt="" style="border:#ff8b00 solid 5px; background: #2f3136; border-radius: 50%;">
                        <label style="margin-left: 15px; margin-right: auto; font-size: 25px;"><%- guild.name %></label>

                        <% if (guild.features.some(f => f == "PARTNERED")) { %>
                        <span class="badge badge-primary badge-pill" style="border: white solid 1px;"><i
                                class="fas fa-handshake"></i></span>
                        <% } %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>

</html>